:root {
  --background: #0e0e0e;
  --foreground: #ffffff;
  --card-background: #1a1a1a;
  --card-hover-background: #232323;
  --text-color: #ffffff;
  --text-muted: #e0e0e0;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 12px 16px;
  z-index: 1;
  flex: 1;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  z-index: 1;
}

h2 {
  /* font-size: 2rem; */
  /* font-weight: bold; */
  /* margin-bottom: 1rem; */
  z-index: 1;
  text-align: center;
  /* color: #a2ff00; */
}

h5 {
  /* font-size: 2rem; */
  /* font-weight: bold; */
  /* margin-bottom: 1rem; */
  z-index: 1;
  text-align: center;
  /* color: #a2ff00; */
}

p {
  max-width: 800px;
  font-size: 1rem;
  color: var(--text-muted);
  z-index: 1;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
}

.card {
  /* background-color: var(--card-background); */
  background-color: rgba(9, 9, 9, 0.5);
  backdrop-filter: blur(5px);
  border: 1px solid #707070;
  border-radius: 8px;
  overflow: hidden;
  transition: background-color 0.3s, color 0.3s;
}

.card:hover {
  background-color: var(--card-hover-background);
  color: var(--text-color);
}

.image-container {
  aspect-ratio: 3 / 2;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.card:hover .image-container img {
  transform: scale(1.05);
}

.card-content {
  padding: 1rem;
}

.card-content h3 {
  font-size: 1.125rem;
  font-weight: bold;
}

.card-content a {
  color: inherit;
  text-decoration: none;
}

.card-content a:hover {
  text-decoration: underline;
}

.card-content p {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: var(--text-muted);
}
