body {
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  color: #fff;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
  margin: 0;
  padding: 0;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

#chatbox::-webkit-scrollbar {
  display: none;
}

.loader {
  padding-top: 50px;
  margin-top: 80%;
  margin-left: 45%;
  width: 20px;
  align-items: center;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 4px solid;
  border-color: #ffffff #0000;
  animation: l1 1s infinite;
}
@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}

#chat-container {
  /* background-color: rgba(26, 28, 33, 0.5); */
  padding: 10px;
  border-radius: 10px;
  top: 50px;
  overflow-y: hidden;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  /* margin: 20px 0; */
  /* margin-top: -180px; */
  /* height: 80vh; */
  bottom: 0;
  margin-bottom: 10px;
  width: 100%; /* Full width of the container */
  max-width: 500px; /* Limit card width */
  box-sizing: border-box; /* Ensure padding is included in the width */
  justify-content: center;
  position: fixed;
  backdrop-filter: blur(5px);
}

#chatbox {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow-y: auto;
  height: 76.2vh;
  margin-bottom: 10px;
  background-color: rgba(26, 28, 33, 0.5);
}

.message {
  background: #353e48;
  color: white;
  padding: 8px 12px;
  margin: 5px 0;
  border-radius: 7px;
  /* max-width: 80%; */
  width: fit-content;
}

#message-input {
  display: flex;
}

#message-input input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  color: white;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
  background-color: rgba(26, 28, 33, 0.5);
}

#send-button {
  padding: 10px 20px;
  border: 1.5px solid #ccc;
  color: white;
  background: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.message-container {
  background: #353e48;
  color: white;
  padding: 8px 12px;
  margin: 5px 0;
  border-radius: 7px;
  display: inline-block; /* Ensures the box fits the content */
  padding: 10px; /* Optional padding */
  /* border: 1px solid #ccc; */
  box-sizing: border-box; /* Includes padding in width calculation */
  max-width: 100%;
}
.message-header {
  font-weight: bold;
}
.message-time {
  font-size: 0.85em;
  color: rgb(156, 156, 156);
  margin-left: 10px;
}
.message-body {
  margin-top: 5px;
  font-size: 1em;
  word-wrap: break-word; /* Ensure long words wrap */
  overflow-wrap: break-word; /* Modern alternative */
  white-space: normal; /* Allow text to wrap normally */
}
