body {
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  color: #fff;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-y: scroll;
}

.post-sections {
  width: 100%;
  max-width: 600px;
  height: 95vh;
  overflow-y: auto;
  padding: 16px;
  margin-top: 60px;
  box-sizing: border-box;
  height: 100%;
  scrollbar-color: rgba(0, 0, 0, 0) rgba(255, 255, 255, 0);
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

.post-container {
  background-color: rgba(26, 28, 33, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px 0; /* Vertical margin between cards */
  width: 100%; /* Full width of the container */
  max-width: 500px; /* Limit card width */
  box-sizing: border-box; /* Ensure padding is included in the width */
  backdrop-filter: blur(5px);
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.subreddit-icon {
  background-color: #ff0088;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #fff;
  margin-right: 8px;
}

.subreddit-info {
  display: flex;
  flex-direction: column;
}

.subreddit-name {
  font-weight: bold;
}

.post-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  overflow-wrap: break-word; /* preferred */
  word-wrap: break-word;
}

.post-content {
  font-size: 16px;
  margin-bottom: 12px;
  overflow-wrap: break-word; /* preferred */
  word-wrap: break-word;
}

.post-image {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 12px;
}

.post-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-footer button {
  background: none;
  border: none;
  color: #818384;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  padding: 8px;
  border-radius: 4px;
}

.post-footer button:hover {
  background-color: #343536;
}

.post-footer svg {
  margin-right: 4px;
}

.votes {
  display: flex;
  align-items: center;
}

.votes span {
  margin: 0 8px;
}

img {
  width: 100%;
  height: auto;
  max-height: 350px;
  object-fit: cover;
  border-radius: 8px;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .post-title {
    font-size: 20px;
  }
  .post-content {
    font-size: 16px;
  }
  .post-footer button {
    font-size: 12px;
  }
  .votes span {
    margin: 0 4px;
  }
}
.post {
  padding-top: 20px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 550px;
  max-height: 420px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 7px;
  width: 7px;
  margin: 0 2px;
  background-color: #5f5f5f;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #ffffff;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 0.2s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.fullscreen-container {
  display: none; /* Initially hidden */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Ensures the image scales down to fit within the container */
}

/* Basic link styles */
.post-container a {
  color: #007bff !important; /* Default link color */
  text-decoration: none; /* Remove underline */
}

/* Hover state */
a:hover {
  color: #007bff; /* Color when hovered over */
  text-decoration: underline; /* Underline on hover */
}

/* Share */
::selection {
  color: #fff;
  background: #7d2ae8;
}
.view-modal,
.popup {
  position: fixed;
  left: 50%;
}
.popup button {
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 4px;
  border: 2px solid transparent;
  transition: background 0.1s linear, border-color 0.1s linear,
    color 0.1s linear;
}
.view-modal {
  top: 10%;
  left: 90%;
  color: #e8e4ee;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 25px;
  background: rgb(113, 5, 156);
  transform: translate(-50%, -50%);
}
.popup {
  color: black;
  background: rgb(255, 254, 254);
  padding: 25px;
  border-radius: 15px;
  top: 10%;
  max-width: 380px;
  width: 80%;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  transform: translate(-50%, -50%) scale(1.2);
  transition: top 0s 0.2s ease-in-out, opacity 0.2s 0s ease-in-out,
    transform 0.2s 0s ease-in-out;
}
.popup.show {
  top: 50%;
  left: 50%;
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: top 0s 0s ease-in-out, opacity 0.2s 0s ease-in-out,
    transform 0.2s 0s ease-in-out;
}
.popup :is(header, .icons, .field) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popup header {
  padding-bottom: 15px;
  border-bottom: 1px solid #ebedf9;
}
header span {
  font-size: 21px;
  font-weight: 600;
}
header .close,
.icons a {
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
header .close {
  color: #878787;
  font-size: 17px;
  background: #f3f3f3;
  height: 33px;
  width: 33px;
  cursor: pointer;
}
header .close:hover {
  background: #ebedf9;
}
.popup .shareContent {
  margin: 20px 0;
}
.popup .icons {
  margin: 15px 0 20px 0;
  margin-left: -15px;
}
.shareContent p {
  font-size: 16px;
}
.shareContent .icons a {
  height: 50px;
  width: 50px;
  font-size: 20px;
  text-decoration: none;
  border: 1px solid transparent;
}
.icons a i {
  transition: transform 0.3s ease-in-out;
}
.icons a:nth-child(1) {
  color: #1877f2;
  border-color: #b7d4fb;
}
.icons a:nth-child(1):hover {
  background: #1877f2;
}
.icons a:nth-child(2) {
  color: #46c1f6;
  border-color: #b6e7fc;
}
.icons a:nth-child(2):hover {
  background: #46c1f6;
}
.icons a:nth-child(3) {
  color: #e1306c;
  border-color: #f5bccf;
}
.icons a:nth-child(3):hover {
  background: #e1306c;
}
.icons a:nth-child(4) {
  color: #25d366;
  border-color: #bef4d2;
}
.icons a:nth-child(4):hover {
  background: #25d366;
}
.icons a:nth-child(5) {
  color: #0088cc;
  border-color: #b3e6ff;
}
.icons a:nth-child(5):hover {
  background: #0088cc;
}
.icons a:hover {
  color: #fff;
  border-color: transparent;
}
.icons a:hover i {
  transform: scale(1.2);
}
.shareContent .field {
  margin: 12px 0 -5px 0;
  height: 45px;
  border-radius: 4px;
  padding: 0 5px;
  border: 1px solid #000000;
}
.field.active {
  border-color: #7d2ae8;
}
.field i {
  width: 50px;
  font-size: 18px;
  text-align: center;
}
.field.active i {
  color: #7d2ae8;
}
.field input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  background-color: transparent;
}
.field button {
  color: #fff;
  padding: 5px 18px;
  background: #7d2ae8;
}
.field button:hover {
  background: #8d39fa;
}
