body {
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  color: #fff;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.post-sections {
  width: 100%;
  max-width: 600px;
  height: 80vh; /* Adjust height as needed */
  overflow-y: auto;
  padding: 16px;
  margin-top: 60px;
  box-sizing: border-box;
  height: 100%;
  scrollbar-color: rgba(0, 0, 0, 0) rgba(255, 255, 255, 0);
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

.post-container {
  background-color: rgba(26, 28, 33, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px 0; /* Vertical margin between cards */
  width: 100%; /* Full width of the container */
  max-width: 500px; /* Limit card width */
  box-sizing: border-box; /* Ensure padding is included in the width */
  backdrop-filter: blur(5px);
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.subreddit-icon {
  background-color: #ff0088;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #fff;
  margin-right: 8px;
}

.subreddit-info {
  display: flex;
  flex-direction: column;
}

.subreddit-name {
  font-weight: bold;
}

.post-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  overflow-wrap: break-word; /* preferred */
  word-wrap: break-word;
}

.post-content {
  font-size: 16px;
  margin-bottom: 12px;
  overflow-wrap: break-word; /* preferred */
  word-wrap: break-word;
}

.post-image {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 12px;
}

.post-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-footer button {
  background: none;
  border: none;
  color: #818384;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  padding: 8px;
  border-radius: 4px;
}

.post-footer button:hover {
  background-color: #343536;
}

.post-footer svg {
  margin-right: 4px;
}

.votes {
  display: flex;
  align-items: center;
}

.votes span {
  margin: 0 8px;
}

img {
  width: 100%;
  height: auto;
  max-height: 350px;
  object-fit: cover;
  border-radius: 8px;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .post-title {
    font-size: 20px;
  }
  .post-content {
    font-size: 16px;
  }
  .post-footer button {
    font-size: 12px;
  }
  .votes span {
    margin: 0 4px;
  }
}
.post {
  padding-top: 20px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 550px;
  max-height: 420px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 7px;
  width: 7px;
  margin: 0 2px;
  background-color: #5f5f5f;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #ffffff;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 0.2s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.fullscreen-container {
  display: none; /* Initially hidden */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Ensures the image scales down to fit within the container */
}

/* Basic link styles */
.post-container a {
  color: #007bff !important; /* Default link color */
  text-decoration: none; /* Remove underline */
}

/* Hover state */
a:hover {
  color: #007bff; /* Color when hovered over */
  text-decoration: underline; /* Underline on hover */
}

/* .logout {
  margin-left: 40%;
} */

.custom-btn {
  color: #ffffff;
  width: 80px;
  height: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

/* 16 */
.btn-16 {
  border: 1px solid #ff0000;
  box-shadow: 0 0 5px #ff0000, 0 0 5px #ff0000 inset;
}
.btn-16:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.btn-16:hover {
  box-shadow: rgba(255, 255, 255, 1) -1px -1px, -2px -2px,
    rgba(255, 255, 255, 1) -3px -3px, rgba(255, 255, 255, 0.9) -4px -4px,
    rgba(255, 255, 255, 0.8) -5px -5px, rgba(255, 255, 255, 0.7) -6px -6px,
    rgba(255, 255, 255, 0.6) -7px -7px, rgba(255, 255, 255, 0.5) -8px -8px,
    rgba(255, 255, 255, 0.4) -9px -9px, rgba(255, 255, 255, 0.3) -10px -10px,
    rgba(255, 255, 255, 0.2) -11px -11px, rgba(255, 255, 255, 0.1) -12px -12px;
}
.btn-16:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
.btn-16:active {
  top: 2px;
}
